section{
    width: 100%;
    /* overflow: hidden; */
    display: flex;
    background-color: #24331C;
    position: relative;
}
.cloverWrap{
    margin-left: 30px;
    width: 70%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.slider{
    display: flex;
    flex-direction: column;
}

.slide{
    width: 100%;
    height: 400px;
    /* height: 40%; */
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    flex-shrink: 0;
    
}
.characterArea>img{
  /* transform: scale(0.1); */
  /* width: 500px; */
  position: absolute;
 bottom: -50px;
 right: 10px;
    z-index: 50;
    display: flex;
    align-items: end;
    justify-content: end;
    position: fixed;
    object-fit: contain;
    animation: move1 2s infinite;
}
.flipCard{
    width:300px;
    height:300px;
    /* border:1px solid red; */
}

.flipCard{
    width: 100%;
    height: 100%;

    perspective: 1000px;
}

.flipInner{
    width: 100%;
    height: 100%;

    position: relative;

    transition: 0.8s;

    transform-style: preserve-3d;
}

.flipCard:hover .flipInner{
    transform: rotateY(180deg);
}

.front,
.back{
    position: absolute;

    width: 300px;
    height: 100%;

    top: 0;
    left: 0;

    object-fit: contain;

    backface-visibility: hidden;
}

.back{
    transform: rotateY(180deg);
}


@keyframes move1{
    0%{
        transform: translateY(20px);
    }
    50%{
        transform: translateY(100px);
    }
    100%{
        transform: translateY(20px);
    }
}
